.header {
  position:fixed; /* Makes the header stick to the top */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures the header is always on top */
  background: transparent; /* Set header background to transparent */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; /* Adds smooth transition for background */
}


.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Header background turns opaque when scrolled */
}

.header .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.logo img {
  width: 120px;
  height: auto;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header nav ul li a {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.header nav ul li a:hover {
  color: #ffcc00;
}

.donate-btn {
  background-color: #ffcc00;
  padding: 0.8rem 1.5rem;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.donate-btn:hover {
  background-color: #e6b800;
}
